.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-gap: 1px;
  /* background-color: #000000; */
  padding: 1px;
  font-family: 'Roboto', sans-serif;
}

.grid-container > div {
  background-color: #ffffff;

  /* background-color: rgba(255, 255, 255, 0.8); */
  text-align: center;
  padding: 20px 0;
  font-size: 12px;
}
.grid-container > div > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 12px;
}

.item1 {
  grid-row: 1 /  span 3;
}

.item2 {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 12px;
}

.light {
  opacity: 0.5;
}

.item3 {
  grid-column: 3;
  grid-row: 'span 1';
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 12px;
}

.App {
  background-image: linear-gradient(117deg, #3023ae, #c86dd7);
}


#name-container.stick {
  position: fixed;
  top: 0;
  z-index: 10000;
}
